/* 
    Macro struttura
*/

body {
    background-image: url("/assets/img/foto/sfondoLakers.jpeg");
    background-position: 100% 2px;
    background-size: 330px;
    background-repeat: no-repeat;
    background-color: #efaf2b;
    padding-top: 80px;
}

h1 {
    color: #4c1569;
    text-align: center;
}

p.big {
    font-size: 150px;
    color: #FDB927;
}

p.purple-text {
    color: #4c1569;
}

mark {
    background-color: #FDB927;
    color: black;
}

blockquote {
    color: #4c1569;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 6px;
    background: #fff;
}


/*
Stile per la navigazione sinstra e destra
*/

div.previous-page,
div.next-page {
    position: fixed;
    width: 50px;
    height: 60px;
    top: 50%;
    z-index: 2;
}

div.next-page i,
div.previous-page i {
    font-size: 50px;
    color: purple;
    opacity: 0.4;
}

div.next-page i:hover,
div.previous-page i:hover {
    opacity: 1;
}

div.next-page {
    right: 0px;
}

div.previous-page {
    left: 0px;
}


/* 
    Tutti gli stili di top-nav-bar
*/

ul#top-nav-bar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: purple;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

ul#top-nav-bar li {
    float: left;
}

ul#top-nav-bar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

ul#top-nav-bar li.selected,
ul#top-nav-bar li:hover {
    background-color: #FDB927;
}

ul#top-nav-bar li.selected a,
ul#top-nav-bar li:hover a {
    color: purple;
}

ul#top-nav-bar li.change-site {
    background-color: #FDB927;
    float: right;
}

ul#top-nav-bar li.change-site a {
    color: #4c1569;
}


/* 
    Personalizzazioni della pagina Homepage
*/

div#container-homepage {
    background-image: url(/assets/img/foto/sfondoKobe.jpeg);
    min-height: 700px;
    margin-top: -50px;
}

body.homepage {
    background-image: url("/assets/img/foto/sfondoKobe.jpeg");
    background-position: initial;
    background-size: initial;
}

.homepage h1 {
    color: #FDB927;
    text-align: center;
    font-size: 125px;
}

.homepage div.next-page i,
.homepage div.previous-page i {
    color: #FDB927;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}


/* 
 menu trasparente in homepage
*/

body.homepage ul#top-nav-bar {
    background-color: transparent;
}


/* 
    Stili per foto
*/

div.photo {
    align-content: center;
}


/* 
    Stile per Anagrafica
*/

blockquote.anagraficabq {
    margin-top: 50px;
    font-size: 100px;
}

dl.anagraficadl {
    margin-top: 50px;
}


/* 
    Stile tabella 
*/

table {
    border-collapse: collapse align=”center”
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}


/*
    Table
*/

.table thead th {
    background-color: #4c1569;
    color: #FDB927;
}

.table thead th,
.table tbody td {
    border-color: #4c1569;
}